body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#sliders {
    position: fixed;
    top: 0;
    color: white;
    width: 100vw;
    padding: 1rem;
    display: none;
}